* {
  padding: 0;
  margin: 0;
}

#root {
  background-color: #004d3a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004d3a;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: #fff;

}

code {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;

  background-color: rgba(0, 0, 0, 0.1);

  padding: 2px 4px;

  border-radius: 4px;

  color: #e6e6e6;

}


*,
*::before,
*::after {
  box-sizing: border-box;
}
